.verycold {
	background-color: #166fff;
}
.cold {
	background-color: #4286f4;
}
.cool {
	background-color: #79abfc;
}
.neutral {
	background-color: #c5cbd6;
}
.warm {
	background-color: #e0cb7f;
}
.hot {
	background-color: #e09f50;
}
.veryhot {
	background-color: #e86d30; 
}
.card {
	font-size: 3em;
	display: inline-block;
}