.hand {
	display: block;
}

.west {
	grid-column: 1;
	grid-row-start: 2;
	grid-row-end: 4;
}

.east {
	grid-column: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

.north {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 1;
}

.south {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 4;
}

.trick {
	grid-row-start: 2;
	grid-column-start: 2;
	grid-row-end: 4;
	grid-column-end: 4;
	padding-top: 40%;
}

.board {
	display: grid;
	width: 80%;
	margin: 0 20%;
	text-align: center;
	grid-template-rows: 50px 25% 25% 50px;
	grid-template-columns: 50px 25% 25% 50px;
}